:root {
  --header-color: #212121;
  --text-color: #757575;
  --background-solutions-color: #2F303A;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --second-header-color: #FFFFFF;
  --accent-color: #2196F3;
  --team-background-color: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts__number {
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__number:hover, .contacts__number:focus {
  color: var(--accent-color);
}

.logo {
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo__part {
  color: var(--accent-color);
}

.logo--black {
  color: #000000;
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .logo--black {
    margin-right: 93px;
  }
}

.logo--white {
  color: var(--second-header-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  width: 450px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 95vw;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    overflow: hidden;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-8px, 8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:focus, .modal__button:hover {
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.form__appeal {
  display: flex;
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.form {
  padding: 40px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within {
  fill: var(--accent-color);
}

.form__field + .form__field {
  margin-top: 12px;
}

.form__field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__input {
  margin: 0;
  padding: 12px 16px 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within {
  border: 1px solid #2196f3;
  outline: transparent;
}

.form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  transition-duration: 250ms;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:focus-within {
  border: 1px solid #2196f3;
  outline: transparent;
}

.form__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translateY(-11px) translateX(12px);
}

.form__comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__check {
  display: flex;
  margin-top: 20px;
  height: 24px;
  margin-bottom: 30px;
  justify-content: center;
}

.form__check-text {
  display: flex;
  align-items: center;
  color: #555555;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 319px) and (max-width: 448px) {
  .form__check-text {
    font-size: 7px;
    letter-spacing: 0.01em;
  }
}

@media screen and (min-width: 1200px) {
  .form__check-text {
    font-size: 14px;
    line-height: 1.71px;
  }
}

.form__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-property: border background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__check-icon {
  fill: #ffffff;
}

.form__input-check:checked + .form__check-text span {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.form__accent {
  display: block;
  padding-left: 3px;
  text-decoration: none;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.form-btn {
  display: flex;
  justify-content: center;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-property: background-color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-block {
  display: flex;
}

.form-input-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-input-footer:focus-within {
  outline: transparent;
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.icon-send {
  display: flex;
  margin-left: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}

.header-row-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button-open {
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-open:hover, .menu-button-open:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  padding-bottom: 48px;
}

.mob-menu .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
}

.menu-button-close {
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-close:hover, .menu-button-close:focus {
  fill: var(--accent-color);
}

.menu-header-navigation__list {
  display: block;
  margin-top: -6px;
  margin-bottom: auto;
}

.menu-header-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-header-navigation__link:hover, .menu-header-navigation__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-header-navigation__link--curent {
    color: var(--accent-color);
  }
}

.menu-header-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__item {
  display: block;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-header-navigation__list {
  display: block;
}

.menu-contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.menu-contacts__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__phone:hover, .menu-contacts__phone:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .menu-contacts__phone {
    font-size: 28px;
    line-height: 1.17;
  }
}

.menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__mail:hover, .menu-contacts__mail:focus {
  color: var(--accent-color);
}

.menu-soc__list {
  display: flex;
}

.menu-soc__label {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .menu-soc__label {
    font-size: 14px;
    line-height: 1.19;
  }
}

.menu-soc__space {
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 420px) {
  .menu-soc__space {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media screen and (min-width: 768px) {
  .header-tablet-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  height: 16px;
  fill: var(--text-color);
  color: var(--text-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  height: 32px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-navigation__list {
    display: none;
  }
}

.header-navigation__item {
  position: relative;
  display: flex;
}

.header-navigation__item + .header-navigation__item {
  margin-left: 50px;
}

.header-navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__link:hover, .header-navigation__link:focus {
  color: var(--accent-color);
}

.header-navigation__link--curent {
  color: var(--accent-color);
}

.header-navigation__link--curent::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: flex-end;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.solutions {
  background-color: var(--background-solutions-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-right: auto;
  padding-left: auto;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/sol_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/sol_mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/sol_tab@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/sol_tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .solutions {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/sol_desk@1x.jpg);
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/sol_desk@2x.jpg);
  }
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.main-btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
}

.about-us {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .about-us {
    display: none;
  }
}

.our-item {
  display: block;
}

.about-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.about-item {
  position: relative;
  display: flex;
}

.about-solutions {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-header-color);
}

.icon-space {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-background-color);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    margin-left: -30px;
  }
}

.advantage-item {
  width: 100%;
  margin-bottom: 30px;
}

.advantage-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    width: calc(100%/2 - 30px);
    margin-left: 30px;
  }
  .advantage-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    width: calc(100%/4 - 30px);
    margin-bottom: 0;
  }
  .advantage-item + .advantage-item {
    margin-left: 30px;
  }
}

.advantage-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
  justify-content: center;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__link--grey {
  fill: #AFB1B8;
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  fill: #FFFFFF;
}

.face {
  display: block;
}

.team-list {
  justify-content: space-between;
}

.team-list__photo {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1199px) {
  .team-list__photo:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__photo {
    width: calc(100%/2 - 30px);
    margin-left: 30px;
  }
  .team-list__photo:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__photo {
    width: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.team-section {
  background-color: var(--team-background-color);
}

.team-card {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-card {
    padding-bottom: 30px;
  }
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-card__duty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.constant-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .constant-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.constant-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.constant-clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .constant-clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-title {
  display: flex;
  width: calc(100%/2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-title {
    width: calc(100%/3 - 30px);
  }
  .clients-title:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    width: calc(100%/6 - 30px);
    margin-bottom: 0;
  }
}

.clients-title:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
  transition-duration: 250ms;
  transition-property: color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-image {
  fill: currentColor;
}

.footer {
  background-color: var(--background-solutions-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 1600px;
}

.footer-container {
  align-items: baseline;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    align-items: flex-start;
  }
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-header-color);
}

.join-us-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer-soc-list {
  display: flex;
  justify-content: left;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-content {
    width: 231px;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer-soc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-soc {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.soc-list__link--white {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-icon {
  fill: currentColor;
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    align-items: flex-start;
  }
}

.form-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .form-sub {
    flex-direction: row;
  }
}

.form-input-footer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .form-input-footer {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-input-footer {
    margin: 0 12px 0 0;
    width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    margin-left: 0;
    margin-right: 0;
  }
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.03em;
  background: var(--team-background-color);
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  margin-right: 8px;
  margin-bottom: 15px;
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .buttons {
    justify-content: center;
    padding-bottom: 30px;
  }
}

.photo-item {
  display: block;
}

@media screen and (min-width: 768px) {
  .button-item + .button-item {
    margin-left: 8px;
  }
}

.projects-descriptions-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .projects-descriptions-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.project {
  display: block;
  margin-bottom: 30px;
  box-sizing: content-box;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .project {
    width: calc(100%/2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    width: calc(100%/3 - 30px);
  }
  .project:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:last-child {
  margin-bottom: 0;
}

.project:hover .products-cover-text {
  transform: translateY(-100%);
}

.project-description-block {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.projects-tipe {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}

.product-thumb {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.products-cover-text {
  position: absolute;
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
}

.project-item:focus .products-cover-text {
  transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */