.constant-clients {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:1199px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
}

.constant-clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.constant-clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 30px;
    
    @media screen and (min-width:1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    }
}

.clients-title {
    display: flex;
    width: calc(100%/2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;


    @media screen and (min-width:768px) {
    width: calc(100%/3 - 30px);
    &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width:1200px) {
    width: calc(100%/6 - 30px);
    margin-bottom: 0;
    }
}
    
.clients-title:nth-last-child(-n+2) {
            margin-bottom: 0;
}


.clients-link {
    display: flex;
    width: 100%;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-property: color, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
}

.clients-image {
    fill: currentColor;
}